In [ ]:
# # Q.1
# A database is an organized collection of structured data that is stored and managed in a computer system. Databases provide a structured and secure environment for storing and accessing data.

# SQL (Structured Query Language) and NoSQL (Not Only SQL) databases are two different types of database management systems. Difference between them are following:
#     * SQL:
#         * SQL databases use a structured data model known as the relational model. Data is organized into tables with predefined relationships between them.
#         * SQL databases use SQL as the standard query language for interacting with the database.
#         * SQL databases have a predefined schema that determines the structure of the data. The schema specifies the tables, columns, data types, and relationships between tables.
#     * NoSQL:
#         * NoSQL databases use various data models such as key-value pairs, documents, graphs, or column families. The data structure is flexible, allowing for dynamic changes in the data model.
#         * NoSQL databases may have their own query languages, but they do not necessarily use SQL.
#         * NoSQL databases are often schema-less or have a flexible schema. They allow for dynamic and evolving data structures where each document or object can have different attributes or fields.

In [ ]:
# # Q. 2
# DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database and its objects. DDL statements are responsible for creating, altering, and dropping database objects such as tables, views, indexes, and constraints.

#  * CREATE:
#         The CREATE statement is used to create new database objects, such as tables, indexes, or views. It establishes the initial structure and defines the properties of the object.
#         ex :
#             * CREATE TABLE Student(Roll_No INT, Name VARCHAR(30), Department VARCHAR(50));
            
#  * DROP:
#         The DROP statement is used to remove or delete existing database objects. It permanently eliminates the object and any associated data from the database.
#         ex :
#             * DROP Table Student;
            
#  * ALTER:
#         The ALTER statement is used to modify or alter the structure of existing database objects. It allows for changes to be made to the object's definition, such as adding or removing columns, modifying data types, or renaming objects.
#         ex :
#             * ALTER Table Student
#               ADD CGPA FLOAT;
                
#  * TRUNCATE:
#         The TRUNCATE statement is used to remove all data from a table while keeping its structure intact. It provides a fast and efficient way to delete all rows in a table without dropping and recreating the table.
#         ex :
#             * TRUNCATE TABLE Student;

In [ ]:
# # Q. 3
# DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) that is used to manipulate and operate on the data within a database. DML statements are responsible for retrieving, inserting, modifying, and deleting data in database tables.

#     * INSERT:
#         The INSERT statement is used to add new records or rows into a table. It allows you to specify the values to be inserted for each column.
#         ex :
#             * INSERT INTO `Student` VALUES(100,"Ayush Raj", "Mining", 8.17);
            
#     * UPDATE:
#         The UPDATE statement is used to modify existing records in a table. It allows us to update the values of one or more columns based on specified conditions.
#         ex :
#             * UPDATE Student SET CGPA = 8.7 WHERE Roll_No = 101;
            
#     * DELETE:
#         The DELETE statement is used to remove one or more records from a table based on specified conditions.
#         ex :
#             * DELETE from `Student` where `Roll_No` = 101;

In [ ]:
# # Q4.
# DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. DQL statements are focused on retrieving data rather than manipulating it.

#     * SELECT:
#         Used to retrieve data from one or more tables in a database based on specified conditions. It allows us to specify the columns to be selected, apply filters, sort the result set, and perform various other operations.
#         * ex :
#             SELECT Roll_No, CGPA FROM `Student`;

In [ ]:
# # Q5.
#  * Primary Key:
#         A primary key is a column or a combination of columns in a table that uniquely identifies each row or record. It serves as a unique identifier for the records in the table and ensures that each row has a distinct identity.
        
#         Uniqueness: Each value in the primary key column(s) must be unique. No two rows can have the same primary key value.
#         Non-nullability: The primary key column(s) cannot contain null (empty) values. It must have a value for every row.
#         Immutability: The value of a primary key should not change once it is assigned to a row.
        
#  * Foreign Key:
#         A foreign key establishes a relationship between two tables by referring to the primary key of another table. It represents a column or a set of columns in one table that refers to the primary key in another table, creating a link between the two tables.
        
#         Referential integrity: The values in the foreign key column(s) must match an existing primary key value in the referenced table.
#         Allows data integrity constraints: Foreign keys can enforce data integrity by preventing actions that would violate the relationship, such as deleting a row with a referenced primary key or inserting values that do not exist in the referenced table.

In [ ]:
# # Q6.
# import mysql.connector
# mydb = mysql.connector.connect(
#     host = "localhost",
#     user = "abc",
#     password = "password"
# )

# cursor(): The cursor() method is used to create a cursor object within a database connection. A cursor is a control structure that enables traversal over the rows of a result set or executing SQL statements. It acts as a handle or pointer to the result set returned by a database query.
#           We obtain a cursor object by calling the cursor() method on the database connection object. This cursor object allows us to perform various operations on the database, such as executing SQL statements, fetching data.
    
# execute(): The execute() method is used to execute SQL statements or queries using the cursor object. It takes an SQL statement as a parameter and sends it to the database for execution. The result, if any, is returned by the database and can be retrieved using other methods provided by the cursor.

# The execute() method allows us to perform various operations, such as creating or modifying database tables, inserting or updating data, retrieving records, and more.

In [ ]:
# # Q7.
# The order in which the clauses in queries are executed is as follows:

# 1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

# 2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

# 3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

# 4. HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.

# 5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

# 6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

# 7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.